/* FONTES */
@font-face {
    font-family: 'GellixBlack';
    src: url('../fonts/GellixBlack-3.otf') format('truetype');
}

@font-face {
    font-family: 'GellixRegular';
    src: url('../fonts/GellixRegular-3.otf') format('truetype');
}

@font-face {
    font-family: 'GellixMedium';
    src: url('../fonts/GellixMedium-3.otf') format('truetype');
}

@font-face {
    font-family: 'GellixBold';
    src: url('../fonts/GellixBold-3.otf') format('truetype');
}

@font-face {
    font-family: 'GellixSemiBold';
    src: url('../fonts/GellixSemiBold-3.otf') format('truetype');
}